@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.color-empty {
  fill: #eeeeee;
}
.color-scale-1 {
  fill: #d6e685;
}
.color-scale-2 {
  fill: #8cc665;
}
.color-scale-3 {
  fill: #44a340;
}
.color-scale-4 {
  fill: #1e6823;
}
