/* StudyHeatmap.css
.color-empty {
  background-color: #ebedf0;
}

.color-scale-1 {
  background-color: #c6e48b;
}

.color-scale-2 {
  background-color: #7bc96f;
}

.color-scale-3 {
  background-color: #239a3b;
}

.color-scale-4 {
  background-color: #196127;
} */
